html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 25px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}


#sec2 {
    background: url(../img/La-nuit-étoilée-van-gogh.jpg);
    background-position: center;
    background-attachment: fixed;
}

.cadre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-shadow: 0 0 10px purple, 0 0 10px purple, 0 0 10px purple;
}