div {
  animation: mymove 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  animation-name: myanimation;
  animation-delay: 2s;
}

div:hover {
  animation-play-state: paused;
}

@keyframes myanimation {
    from {left: 0px;} /* 0% */
    to {left: 200px;} /* 100% */
    0% {
      border-radius: 50%;
    }

    50% {
      border-radius: 25%;
    }

    100% {
      border-radius: none;
    }
}


h2 {
  animation: myanimation2 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-name: myanimation2bis;
}

@keyframes myanimation2 {
  from {margin-top: 0;}
  to {margin-top: 250px;}
}  

@keyframes myanimation2bis {
  from {margin-top: 0; font-size: 80px;}
  to {margin-top: 250px; font-size: 20px;}
}